apiVersion: apps/v1
kind: Deployment
metadata:
  name: sentinel-agent
  namespace: morpheusagent
spec:
  selector:
    matchLabels:
      sentinel:  agent
  replicas: 1 
  template:
    metadata:
      labels:
        sentinel: agent
    spec:
      serviceAccountName: sentinel-controller
      containers:
        - name: sentinel-agent
          image: green:32000/sentinel-sentinel-agent
          env:
            - name: S_MANAGER_URL
              valueFrom:
                configMapKeyRef:
                  name: sentinel-configmap
                  key: manager
            - name: S_CLUSTER_ID
              valueFrom:
                configMapKeyRef:
                  name: sentinel-configmap
                  key: clusterid
            - name: S_TOKEN
              valueFrom:
                configMapKeyRef:
                  name: sentinel-configmap
                  key: token
